 <div class= "email">
      <button type="submit" class="signup-submit button">Email:</button>
      <input type="text" size="30" name="signup-email" class="signup-email" class="signup-email input" placeholder="Type your email here...">
      <button type="submit"class="signup-submit button">Get Notified!</button>
 </div>
